*.weights
*.dll
*.db
*.opendb
*.pdb
*.ipdb
*.iobj
*.o
*.dSYM
*.csv
*.out
*.png
*.exe
*.avi
*.mp4
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
.fuse*

debug/
release/


# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
